@import "src/style/variables";

.header {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding-top: 30px;
  color: $title-color;
  padding-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  grid-column-gap: 1.2rem;
  grid-template-rows: auto auto;
}

.grid-item {
  text-align: center;
}
