<div class="grid-container">
  <div class="header">
    <h1>{{teamMembers.title}}</h1>
  </div>
  <div class="grid-item" *ngFor="let member of teamMembers.members">
    <app-team-member [member]="member"></app-team-member>
  </div>
</div>



