<div>
  <div class="grid-image-container">
    <div class="grid-image-wrapper">
      <img src="{{member.image}}" class="grid-image"/>
    </div>
  </div>
  <div class="member-details-container">
    <div class="member-name">{{member.name}}</div>
    <div class="member-position">{{member.position}}</div>
  </div>
  <div class="member-details-container">
    <div class="member-email">{{member.email}}</div>
    <div class="member-phone">{{member.phone}}</div>
  </div>
</div>
