@import "src/style/variables";

.grid-image-container {
  position: relative;
  overflow: hidden;
  padding-top: 100%;
  width: 100%;
}

.grid-image-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.grid-image {
  width: 100%;
  height: 100%;
}

.member-details-container {
  padding: 1rem 3rem;
  word-break: break-all;
  text-align: start;
}

.member-name {
  color: $title-color;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.member-position {
  font-weight: lighter;
  color: $darkgrey-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

.member-email {
  color: $email-color;
  padding-top: 3px;
  padding-bottom: 3px;
}

.member-phone {
  font-weight: lighter;
  color: $darkgrey-color;
}
